# Generate password hash: openssl passwd -6
PASSWORD_HASH='<PASTE_YOUR_PASSWORD_HASH_HERE>'
# SSH public key for the core user
SSH_PUB_KEY='<PASTE_YOUR_SSH_PUBLIC_KEY_HERE>'
# Node hostname
HOSTNAME=k8s-control-plane-001
# Package version streams
CRIO_VERSION=cri-o1.35
KUBERNETES_VERSION=kubernetes1.35
